<div class="{{ rootElementClass }}" data-config="{{ config|json_encode }}">
    <div class="{{ listClass }}">
        {% for item in listItems %}
        <div class="{{ item.class }}">
            {{ renderer.component(item.data) }}
        </div>
        {% endfor %}
    </div>
</div>
